
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {

    margin:0 ;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: lightgray;
}
nav{
    display: flex;
    background-color: whitesmoke;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 22px;
}

nav ul li {
    list-style-type: none;
    

}
nav ul img {
    width: 50px;
    height: 30px;
    margin-top: 7px;
    object-fit: contain;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: aqua;
    font-size: large;
  }
a:active{
    font-weight: 800;
}
.nav-right{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 78%;
    
}

.button-atas {
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    
}

.button-1:hover{
    background-color: grey;
  color: black;
  font-weight: bold;

}


.judul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-container label {
    font-size: medium;
    font-weight: bold;
    margin-top: 12px;
}

input {
   padding: 10px;
   border-radius: 5px;
   border-style: none;
   box-shadow: 0px 2px 1px;
}

.select {
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 2px 1px;
 }

.text-area{
    text-align: left;
    padding: 50px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 2px 1px;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 68%;
    margin-top: 20px;
}

.button-bawah {
    background-color: black;
    color: white;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
}

.button-2:hover{
    background-color: grey;
  color: black;
  font-weight: bold;
  -webkit-transform:scale(1.2);
     -moz-transform:scale(1.2);
      -o-transform:scale(1.2); 
      opacity: 1;
       z-index: 2;

}